<%- include ("./partials/head.ejs") %>

    <a href="/overview">back</a>
    <h2>Hero</h2>
    <h1>
        <%- postData.title %>
    </h1>
    <p>
        <%- postData.body %>
    </p>

    <%- include ("./partials/footer.ejs") %>